@tailwind base;
@tailwind components;
@tailwind utilities;


/* css used for printing of leaderboard */
@media print {
    body * {
        visibility: hidden;
    }

    #printTable, #printTable * {
        visibility: visible;
    }

    #printTable {
        position: absolute;
        left: 0;
        top: 0;
        color: black;
    }

    #printTable tr.bg-zinc-900 {
        background-color: transparent !important;
        box-shadow: none !important;
    }
    #printTable td, th {
        border: 1px solid #000 !important;
        padding: 10px !important;
    }
}
